body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

a {
    text-decoration: none;
}

:root {
    --white-color:white;
    --black-color:black;
    --font-price:lightgray;
    --background-footer:whitesmoke;
    --red-color:red;
}

/****************************/
/************nav*************/
/****************************/

nav {
    background-color: var(--black-color);
    padding: 0;
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 99;
}

nav a {
    text-decoration: none;
    color:var(--white-color);
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
}




/****************************/
/***********main*************/
/****************************/

main img{
    width: 100%;
}

li {
    text-decoration: none;
    list-style-type: none;
}

main>article {
    position: relative;
    width: 100%;
}

article:nth-of-type(1) h1 {
    position: absolute;
    top: 60px;
    left: 10px;
    color:var(--white-color);
}

article:nth-of-type(1) a {
    position: absolute;
    bottom: 70px; 
    left: 7.5%;
    border: solid 10px var(--white-color);
    background-color: var(--white-color);
    color: black;
    text-align: center;
    width: 300px;
}

article:nth-of-type(1) a:active {
    border: solid var(--black-color);
    color: var(--white-color);;
    background-color: var(--black-color);
    border-radius: 10em;
    transition: 1s;
}

article:nth-of-type(1) a + p {
    position: absolute;
    top: 110px; 
    left: 10px;
    color:var(--white-color);
}

a>img {
    height: 60px;
}


/*popcompany*/

article:nth-of-type(1) a>img {
    height: 100px;
}

article:nth-of-type(1) {
    height: 500px;
    padding-top: 7%;
}



/*ben g op instagram*/

h2 + div {
    display: flex;
    display: inline-block;
    columns: 3;

}

div>img {
    height: 100px;
    width: 100%;
    object-fit: cover;
} 

/* kon ook met een grid, maar met felxbox was het meer responsive  
#grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px ;
    justify-content: center;
} */

/*bronze56k (tweede afbeelding) */

article:nth-of-type(2) {
    padding-top: 7%;
}

article:nth-of-type(2) a {
    position: absolute;
    right: 1em;
    bottom: 1em;
    margin: 0;
    padding: .5em;
    border: solid var(--white-color);
    background-color: var(--white-color);
    color: var(--black-color);
}

article:nth-of-type(2) a + p{
    position: absolute;
    right: 1em;
    bottom: 5em;
    margin: 0;
    padding: .5em;
    color: var(--white-color);
}

article:nth-of-type(2) a:active {
    border: solid var(--black-color);
    color: var(--white-color);
    background-color: var(--black-color);
    border-radius: 10em;
    transition: 1s;
}

/*the look (derde afbeelding) */

article:nth-of-type(3) {
    padding-top: 7%;
}

article:nth-of-type(3) + img{
    height: 450px;
}

article:nth-of-type(3) a {
    position: absolute;
    right: 1em;
    bottom: 1em;
    margin: 0;
    padding: .5em;
    border: solid var(--white-color);
    background-color: var(--white-color);
    color: var(--black-color);
}

article:nth-of-type(3) a:active {
    border: solid var(--black-color);
    color: var(--white-color);
    background-color: var(--black-color);
    border-radius: 10em;
    transition: 1s;
}

/*focus state*/

article:nth-of-type(1) a:focus,article:nth-of-type(2) a:focus,article:nth-of-type(3) a:focus {
    border: solid yellowgreen;
    color: var(--black-color);
    background-color: yellowgreen;
}

/*skateboard*/

article:nth-of-type(4){
    width: 100%;
}
article:nth-of-type(4)>p:nth-of-type(1),h4 {
    text-align: center;
}

article:nth-of-type(4) img {
    width: 100%;
}

article:nth-of-type(4) a {
    position:absolute;
    transform:rotate(-2.5deg); 
    border:solid var(--red-color);
    border-radius: 10em;
    background-color: var(--red-color);
    color: var(--white-color);
}

article:nth-of-type(4)>p:nth-of-type(2) {
 font-size: smaller;
 color: var(--font-price);
}

article:nth-of-type(4)>p:nth-of-type(3) {
    font-size: small;
}

article:nth-of-type(4)>p:nth-of-type(3) {
    font-size: 16px;
    margin-bottom: -20px;
} 


/*tekst(h1,h2,h3,p)*/

h2 {
    text-align:center;
}


footer, .koop>footer {
    background-color: var(--background-footer);
    font-size: small;
    display: flex;
    flex-direction: column;
}



/*hamburgermenu*/


header > ul:nth-of-type(1) {
    visibility: hidden;
    position: fixed;
    background-color: var(--black-color);
    width: 100%;
    margin-top: 50px;
    display: block;
    text-decoration: none;
    z-index: 1000;
    height: 400px;
    color: var(--white-color);
}


.hamburgermenu {
    visibility: visible !important;
}


/*pagina 2 product*/
.koop > article:nth-of-type(1) {
    position: relative;
} 

.koop article:nth-of-type(1) h1 {
    color: var(--black-color);
}



/* bron beng logo: https://www.ben-g.nl/collections/ben-g-select */
/* bron popcompany shop nu foto: https://www.seprun.com/search/pop-trading-company-big-pocket-shirt-black */
/* bron shoppingcar: https://icon-library.com/icon/cart-icon-png-white-11.html */
/* bar menu: https://icon-library.com/icon/white-hamburger-menu-icon-24.html */
/* bron palace(instagram):https://www.shopenauer.com/en/brand/palace-skateboards/utrecht */
/* bron polar (instagram):https://news.nike.com/news/converse-cons-and-polar-skate-co-debut-first-footwear-and-apparel-collection */
/* bron rassvet (instagram): https://www.vogue.fr/vogue-hommes-en/article/rassvet-the-label-that-celebrates-skate-culture */
/* bron ben-g dunks (instagram): https://sneakernews.com/2019/09/22/ben-g-nike-sb-dunk-low-release-date/ */
/* bron supreme dunks (instagram): https://www.highsnobiety.com/p/supreme-nike-sb-dunk-low-hyper-blue-release-date-price/ */
/* bron the hundereds (instagram): https://thehundreds.uk/blogs/content/the-hundreds-x-one-piece?country=NL */ 
/* bron shop the look: https://webshop.poptradingcompany.com/products/pop-full-zip-knitted-vest-spruce-yellow */
/* bron obey: https://obeyclothing.eu/products/obey-icon-heavyweight-pullover-hood */
/* bron skateboard: https://nl.pinterest.com/pin/53409945570494034/ */
/* bron pop pagina 2: https://webshop.poptradingcompany.com/products/pop-full-zip-knitted-vest-spruce-yellow */

/* <article>
<h3>New arrivles</h3>
<img id="obey" src="images/obeyhoodie.jpeg" alt="obey">
<p>Obey new collection</p>
<h2>discover more</h2>
</article> */


